* {
  box-sizing: border-box;
  /* needs follow up on auto vs 100% */
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--bodyFontFamily);
  font-size: var(--bodyFontSize);
  line-height: var(--bodyFontSize);
  color: var(--bodyFontColor);
  background-color: var(--panelBackgroundColor);
}

@font-face {
  font-family: "jqx-icons";
  src: url("https://leslieab.github.io/jqx-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* CONTROL */

.control {
  display: flex;
  position: relative;
  padding: 0.25em;
}

.label {
  flex-shrink: 0;
  padding: 0 0.25em 0 0.25em;
  max-width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

