:root {
  --popColor: #ffbb00;
  --controlBorderColor: #000;
  --controlBorderWidth: 2px;
  --controlBorderStyle: solid;
  --controlBorder: var(--controlBorderWidth) var(--controlBorderStyle) var(--controlBorderColor);
  --indicatorBorderColor: rgba(0, 0, 0, .35);
  --indicatorBorder: var(--controlBorderWidth) var(--controlBorderStyle) var(--indicatorBorderColor);
}

.input {
  border: var(--controlBorder);
}

.input:hover {
  border-color: var(--popColor);
}

.field::selection {
  background-color: var(--popColor); 
}

:read-only .input {
  border: var(--indicatorBorder);
}
