:root {
  --popColor: #ffbb00;
  --borderColor: #000;
  --borderWidth: 2px;
  --borderStyle: solid;
  --border: var(--borderWidth) var(--borderStyle) var(--borderColor);
}

.input {
  border: var(--border);
}

.input:hover {
  border-color: var(--popColor);
}

.field::selection {
  background-color: var(--popColor); 
}
