/* VARS */

:root {
  --panelBackgroundColor: transparent;
    
  --bodyFontFamily: "helvetica", sans-serif;
  --bodyFontSize: 16px;
  --bodyFontColor: #000;
  
  --popColor: #ffbb00;
  --controlBorderColor: #000;
  --controlBorderWidth: 2px;
  --controlBorderStyle: solid;
  --controlBorder: var(--controlBorderWidth) var(--controlBorderStyle) var(--controlBorderColor);
  --indicatorBorderColor: rgba(0, 0, 0, .35);
  --indicatorBorder: var(--controlBorderWidth) var(--controlBorderStyle) var(--indicatorBorderColor);
}

/* GLOBAL */

.input {
  border: var(--controlBorder);
}

.input:hover {
  border-color: var(--popColor);
}

.field::selection {
  background-color: var(--popColor); 
}

/* STRING */

ni-string[readonly] .input {
  border: var(--indicatorBorder);
}

ni-string[readonly] .input:hover {
  border-color: var(--popColor);
}
